[Desktop Entry]
Type=Application
Name=SailJailTest Disabled
Icon=icon-m-diagnostic
Exec=/usr/bin/sailjailtest

[X-SailJail]
Sandboxing=disabled
OrganizationName=OrgaNameFromDesktop
ApplicationName=AppNameFromDesktop

