[Desktop Entry]
Type=Application
Name=SailJailTest
Icon=icon-m-diagnostic
Exec=/usr/bin/sailjailtest

[X-SailJail]
Permissions=UserDirs
OrganizationName=OrgaNameFromDesktop
ApplicationName=AppNameFromDesktop

