[Desktop Entry]
Type=Application
Name=SJT Configured
Icon=icon-m-diagnostic
Exec=/usr/bin/sailjailtest

[X-Sailjail]
Permissions=UserDirs
OrganizationName=OrgaNameFromDesktop
ApplicationName=AppNameFromDesktop

