[Desktop Entry]
Type=Application
Name=SJT Disabled
Icon=icon-m-diagnostic
Exec=sailjail -p sailjailtest_nojail.desktop /usr/bin/sailjailtest

[X-Sailjail]
Sandboxing=disabled
OrganizationName=OrgaNameFromDesktop
ApplicationName=AppNameFromDesktop

